<h1>Crate a New restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name, :placeholder => 'Daniel'%>
  <%= f.input :address, :placeholder => '15 th street etc..' %>
  <%= f.input :phone_number, :placeholder => '640810776' %>
  <%= f.input :category, :collection => %w[chinese italian japanese french belgian] %>
  <%= f.button :submit %>
<% end %>


