<h1><%= @restaurant[:name]%> </h1>

<ul>
  <li>Category: <%= @restaurant[:category]%></li>
  <li>Address: <%= @restaurant[:address]%></li>
  <li>Phone: <%= @restaurant[:phone_number]%></li>
</ul>

<%= link_to '<Back to listings', restaurants_path %>

<h4 class="btn" style="margin: 20px; text-decoration: none; color:white; border-width: 2px; border-color: hsl(194, 55%, 26%); "><%= link_to 'Write a review', new_restaurant_review_path(@restaurant) %> </h4>

<div class="cards" style=" padding-top: 10px; padding-left: 10px;
  border-radius: 5px; border-width: 5px; border-color: hsl(194, 55%, 26%); width: 100%; ">
  <% @reviews.each do |review| %>
    <div class="card" style="margin: 15px; padding: 10px 0px 0px 10px;border-radius: 5px; border-width: 1px;">
      <p> Description: <%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
    </div>
  <% end %>
</div>




